<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwiIDoCxkltwGhlAmI2Jjoz_-aoNcNBcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>495810092899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeBookApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-57d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-57d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495810092899:ios:a8d4f226d0862ce378bd56</string>
</dict>
</plist>